doctype html
html(lang="ru")
    head
        include ./view/meta.pug
    body
        include ./view/layout/header.pug
        include ./view/intro.pug
        include ./view/feature.pug
        
        script(src="./assets/js/index.js", type="module") 