doctype html
html(lang="ru")
    head
        include ./view/meta.pug
    body
        include ./view/layout/header.pug
        include ./view/intro.pug
        include ./view/feature.pug
        include ./view/content.pug
        include ./view/choice.pug
        include ./view/steps.pug
        include ./view/layout/footer.pug