@mixin colorBtn($color, $background, $actions) {
    color: $color;
    background: $background;
    transition: $transition;
    &:hover, &:active, &:focus {
        background: $actions;
    }
}

@mixin colorBadge($color, $background) {
    color: $color;
    background: $background;
}