// Color project
$white:        #ffffff;
$dark:         #000000;
$blue:         #015A9C;
$blue100:      #E4EDFF;
$blue200:      #034e87;
$red:          #E8594E;
$green:        #009982;
$green100:     #049C01;
$green200:     #E5FFE4;
$green300:     #E4FFFB;
$gray:         #F9F9F9;
$violet:       #710099;
$violet100:    #F8E4FF;
$gold:         #D0990A;
$gold100:      #FEFFE4;

$primary:       $blue;
$secondary:     $green;
$accent:        $red;
$success:       $green;
$danger:        $red;

// Animation
$transition: 0.3s;

// Padding & Margin
$grid_gutter: 15px;

// Style border radius
$border-radius: 5px;