// Color project
$white:        #ffffff;
$dark:         #000000;
$blue:         #015A9C;
$blue200:      #034e87;
$red:          #E8594E;
$green:        #009982;
$gray:         #F9F9F9;

$primary:       $blue;
$secondary:     $green;
$accent:        $red;
$success:       $green;
$danger:        $red;

// Animation
$transition: 0.3s;

// Padding & Margin
$grid_gutter: 15px;

// Style border radius
$border-radius: 5px;