.badge {
    display: inline-block;
    border-radius: 100px;
    font-style: normal;
    padding: 1px 16px;
    font-weight: 600;
    font-size: 12px;
    line-height: 180%;
    color: #009982;
    background: #E4FFFB;
}