.btn {
   border-radius: $border-radius;
   cursor: pointer;
   outline: none;
   border: 0;
   padding: 14px 32px;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   @include colorBtn($white, $primary, $blue200);

   &--light {
      @include colorBtn($primary, $white, $gray);
   }

   &--fluid {
      width: 100%;

      @include media-breakpoint-up(sm) {
         width: auto;
      }
   }

   &-sm-sm {
      @include media-breakpoint-down(sm) {
         padding: 12px;
         font-size: 13px;
         line-height: 13px;
      }
   }

   @include media-breakpoint-up(sm) {
      font-size: 16px;
   }
}