.btn {
   position: relative;
   border-radius: $border-radius;
   cursor: pointer;
   outline: none;
   border: 0;
   padding: 14px 32px;
   font-weight: 400;
   font-size: 15px;
   line-height: 22px;
   @include colorBtn($white, $primary, $blue200);

   &--light {
      @include colorBtn($primary, $white, $gray);
   }

   &--fluid {
      width: 100%;
   }

   &-sm {
      &--fluid {
         width: 100%;

         @include media-breakpoint-up(sm) {
            width: auto;
         }
      }
   }

   &-sm-sm {
      @include media-breakpoint-down(sm) {
         padding: 12px;
         font-size: 13px;
         line-height: 13px;
      }
   }

   @include media-breakpoint-up(sm) {
      font-size: 16px;
   }

   &:disabled,
   &[disabled] {
      background-color: $gray200;
      color: $gray300;
      cursor: not-allowed;
   }

   &--load {
      font-size: 0;

      &::before {
         margin: auto;
         position: absolute;
         content: '';
         height: 24px;
         width: 24px;
         right: 0;
         top: 0;
         bottom: 0;
         left: 0;
         background-size: 100%;
         animation: spin 1s linear infinite;
         background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAApklEQVRIieWVuw2DMBRFj/IZgFDTBhqWoAKxDovAMtkH0jIBBRQ8FBQgsi2HT3Kk21jva/vZ8E+kwBOogOQbCSqgFZWqTicLiW9AIXJUna6iMQl9FyUQj9YLXp3l74EuGpU+AE/D3hoOfeU5Glt0HM6W4wWAC9RLBh7mBxkAjcgfFufmoDVMsAo+cN+6iB8hFKmSiSbovEWfsHbzIpEyJv/BrufkgHS4mRfHknkLXgAAAABJRU5ErkJggg==') 50% 50% no-repeat;
      }
   }
}

@keyframes spin {
   100% {
      transform: rotate(-360deg);
   }
}


.btn-close-modal {
   position: absolute;
   right: 10px;
   top: 10px;
   display: inline-flex;
   border-radius: 50%;
   background: $primary;
   padding: 0;
   border: 0;
   width: 30px;
   height: 30px;
   cursor: pointer;
   transition: $transition;
   z-index: 1;

   &::before {
      content: '';
      display: block;
      width: 18px;
      height: 18px;
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAxNzIgMTcyIgpzdHlsZT0iIGZpbGw6IzAwMDAwMDsiPjxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0ibm9uemVybyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIHN0cm9rZS1saW5lY2FwPSJidXR0IiBzdHJva2UtbGluZWpvaW49Im1pdGVyIiBzdHJva2UtbWl0ZXJsaW1pdD0iMTAiIHN0cm9rZS1kYXNoYXJyYXk9IiIgc3Ryb2tlLWRhc2hvZmZzZXQ9IjAiIGZvbnQtZmFtaWx5PSJub25lIiBmb250LXdlaWdodD0ibm9uZSIgZm9udC1zaXplPSJub25lIiB0ZXh0LWFuY2hvcj0ibm9uZSIgc3R5bGU9Im1peC1ibGVuZC1tb2RlOiBub3JtYWwiPjxwYXRoIGQ9Ik0wLDE3MnYtMTcyaDE3MnYxNzJ6IiBmaWxsPSJub25lIj48L3BhdGg+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTMzLjczMzcyLDIzLjU5OTYxbC0xMC4xMzQxMSwxMC4xMzQxMWw1Mi4yNjYyOCw1Mi4yNjYyOGwtNTIuMjY2MjgsNTIuMjY2MjhsMTAuMTM0MTEsMTAuMTM0MTFsNTIuMjY2MjgsLTUyLjI2NjI4bDUyLjI2NjI4LDUyLjI2NjI4bDEwLjEzNDExLC0xMC4xMzQxMWwtNTIuMjY2MjgsLTUyLjI2NjI4bDUyLjI2NjI4LC01Mi4yNjYyOGwtMTAuMTM0MTEsLTEwLjEzNDExbC01Mi4yNjYyOCw1Mi4yNjYyOHoiPjwvcGF0aD48L2c+PC9nPjwvc3ZnPg==') 50% 50% no-repeat;
      background-size: 100%;
      margin: auto;
   }

   &:hover {
      opacity: 0.8;
   }
}