
.feature {
   position: relative;
   overflow: hidden;
   height: 250px;
   border-radius: $border-radius;

   @include media-breakpoint-up(md) {
      height: 359px;
   }

   &::after {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #092941 100%);
   }

   &__img {
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
   }

   &__info {
      position: absolute;
      left: 0px;
      bottom: 0px;
      padding: 30px;
      color: #FFFFFF;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
      font-size: 20px;
      line-height: 30px;
      font-weight: 700;
      z-index: 2;
      margin: 0;
   }
}