.intro {
    position: relative;
    padding: 30px 10px;
    overflow: hidden;
    border-radius: $border-radius;

    @include media-breakpoint-up(sm) {
        padding: 140px 75px 150px 75px;
    }

    &__img {
        z-index: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &__info {
        position: relative;
        z-index: 3;
    }

    &__title, &__pretitle, &__partner-brand {
        color: $white;
        margin: 0;
    }

    &__title, &__badge {
        margin-bottom: 22px;
    }

    &__partner-brand {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        display: flex;
        align-items: end;
        img {
            margin-left: 8px;
            width: 114px;
            display: inline-block;
        }
    }

    &__pretitle {
        font-weight: 300;
        font-style: normal;
        font-size: 14px;
        line-height: 180%;
        margin-bottom: 8px;
        letter-spacing: 0.1px;
    }

    &__actions {
        margin-bottom: 34px;
        .btn {
            &:not(:last-child) {
                margin-bottom: 16px;

                @include media-breakpoint-up(md) {
                    margin-right: 16px;
                    margin-bottom: 0;
                }
            }

            width: 100%;
            @include media-breakpoint-up(sm) {
                width: auto;
            }
        }
    }

    &::after {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: linear-gradient(180deg, rgba(27, 62, 88, 0.19) 0%, rgba(9, 41, 65, 0.79) 100%);
     }
}