.desc {
   font-weight: 400;
   font-size: 16px;
   line-height: 29px;
   color: #585860;
   padding-top: 16px;
   padding-bottom: 32px;
   &--small {
      font-size: 15px;
      line-height: 23px;
   }

   &--link {
      color: $primary;
      font-weight: 600;
      transition: $transition;
      &:hover {
         opacity: 0.7;
      }
   }
}

.steps-desc {
   font-weight: 400;
   font-size: 14px;
   line-height: 25px;
   color: #585860;
   padding-top: 16px;
}