.title {
   font-style: normal;
   font-weight: 700;
   &--h1 {
      font-size: 32px;
      line-height: 120%;
      
      @include media-breakpoint-up(sm) {
         font-size: 42px;
      }

      @include media-breakpoint-up(md) {
         font-size: 56px;
      }
   }

   &--h2 {
      font-size: 20px;
      line-height: 36px;
      @include media-breakpoint-up(sm) {
         font-size: 32px;
         line-height: 45px;
      }
   }

   &--h3 {
      font-size: 16px;
      line-height: 22px;
   }

   &--text-center {
      @include media-breakpoint-up(sm) {
         text-align: center;
      }
   }

   &--mb-1{
      margin-bottom: 16px;
   }

   &--mb-2{
      margin-bottom: 26px;
   }

   &--mb-3{
      margin-bottom: 20px;
      @include media-breakpoint-up(sm) {
         margin-bottom: 40px;
      }
   }

   span{
      font-weight: 400;
      display: flex;
      align-items: center;
   }

   .badge {
      margin-left: 20px;
   }


   
}

