.modal.fade(id="phone-modal" tabindex="-1" aria-hidden="true")
    .modal-dialog.modal-dialog-centered
        .modal-content
            button.btn-close-modal(type="button" data-bs-dismiss="modal")
            .modal-body
                h2.title.title--h2.modal-body__title Пакет.Kaspersky Internet Security для Android + Kaspersky Safe Kids
                p.desc.desc--small Нажимая кнопку «Подключить бесплатно» Вы соглашаетесь с активацией подписки Kaspersky Internet Security для Android + Kaspersky Safe Kids для Вашего номера лицевого счета, а также с <a class="desc--link" href="https://www.beltelecom.by/private/internet/additional-service/anti-virus-protection-services">Порядком оказания услуг</a>. Первые 30 дней бесплатно, далее 5 руб. / 30 дней для абонентов Белтелеком.
                form.mb-1(action="" method="post")
                    .row
                        .col-md-7
                            label.form-label(for="phone-field1") ВВЕДИТЕ СВОЙ НОМЕР ТЕЛЕФОНА:
                            input.form-field.form-control.mb-1.mb-md-0(type="text" id="phone-field1")
                        .col-md-5.align-bottom
                            button.btn.btn--fluid(type="button") Получить код
                form(action="" method="post")
                    .row
                        .col-md-7
                            label.form-label(for="code-field1") ВВЕДИТЕ КОД ИЗ SMS:
                            input.form-field.form-control.mb-1(disabled type="text" id="code-field1")
                        .col-md-7.order-md-2
                            label.form-label(for="recipient-name") ПРОМОКОД 
                                small необязательное поле :
                            input.form-control.mb-1.mb-md-0(type="text" id="code")
                        .col-md-5.align-bottom.order-sm-1
                            button.btn.btn--fluid.mb-md-1(type="button" class="" disabled) Подключить