footer.footer
    ul.footer__list
        li 
            a(href="https://www.beltelecom.by/private/internet/additional-service/anti-virus-protection-services") Порядок оказания услуг
        li
            a(href="https://www.beltelecom.by/private/internet/additional-service/anti-virus-protection-services") Общие условия здесь
    ul.footer__list
        li
            svg(class="icon-box" viewBox="0 0 133 56")
                use(xlink:href="sprite.svg#beltel")
        li
            svg(class="icon-box" viewBox="0 0 114 22")
                use(xlink:href="sprite.svg#kaspersky")
    p © 2022 РУП «Белтелеком». УНП 101007741