header.header
    .container
        nav.navbar
            a(href="/").logo
                img(src="./assets/images/logo/beltel.svg")
            ul.navbar-nav
                li.navbar-nav__item
                    a(href="#") Для смарфонов
                li.navbar-nav__item
                    a(href="#") Для компьютеров
                li.navbar-nav__item
                    button(type="button").btn Подключить
