header.header
    .container
        img(src="./assets/images/logo/beltel.svg").logo 
        .navigation
            button(type="button").btn
                strong Для смарфонов
            button(type="button").btn
                strong Для компьютеров
            button(type="button").btn Подключить
