html, body, * {
    font-family: 'Open Sans', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: middle;
}