.mb-1{
   margin-bottom: 24px;
}

.mb-2{
   margin-bottom: 32px;
   @include media-breakpoint-up(lg) {
      margin-bottom: 64px;
   }
}

.mb-4{
   margin-bottom: 20px;
}

.mb {
   &-md-0 {
      @include media-breakpoint-up(md) {
         margin-bottom: 0px;
      }
   }
}


