.mb-1 {
   margin-bottom: 24px;
}

.mb-2 {
   margin-bottom: 32px;

   @include media-breakpoint-up(lg) {
      margin-bottom: 64px;
   }
}

.mb-4 {
   margin-bottom: 20px;
}

.mb {
   &-md-0 {
      @include media-breakpoint-up(md) {
         margin-bottom: 0px;
      }
   }

   &-md-1 {
      @include media-breakpoint-up(md) {
         margin-bottom: 24px;
      }
   }

   &-lg-0 {
      @include media-breakpoint-up(lg) {
         margin-bottom: 0px;
      }
   }
}

.order {
   &-lg {
      @include media-breakpoint-up(lg) {
         &-2 {
            order: 1;
         }
      }
   }

   &-md {
      @include media-breakpoint-up(md) {
         &-1 {
            order: 1;
         }

         &-2 {
            order: 2;
         }
      }
   }
}

.align-bottom {
   display: flex;
   align-items: flex-end;
}