section.section
   .container
      .row 
         .col-md-12.col-lg-6
            h2.title.title--h2 Затрудняетесь в выборе ?
            p.desc Отметьте устройства, которые вы хотите защитить. Доступные устройства: Windows, Mac, iOS, Android
         .col-md-12.col-lg-6
            .row 
               .col-md-6.mb-4
                  .choice 
                     img.choice__img(src="./assets/images/Users2.png", alt="")
                     p.choice__desc Для семьи
               .col-md-6.mb-4
                  .choice 
                     img.choice__img.choice__img_small(src="./assets/images/phone.png", alt="")
                     p.choice__desc Для смартфонов
               .col-md-6.mb-4.mb-md-0
                  .choice 
                     img.choice__img(src="./assets/images/Group.png", alt="")
                     p.choice__desc Для компьютеров
               .col-md-6
                  .choice 
                     img.choice__img(src="./assets/images/devices.png", alt="")
                     p.choice__desc Премиум защита