section.section
   .container
      .row 
         .col-md-12.col-lg-6
            .content-img
               img.content-img__img(src="./assets/images/1.png", alt="")
         .col-md-12.col-lg-6
            h2.title.title--h2.mb-1 Kaspersky Internet Security <br>
               span для Android
                  .badge Для семьи                         
            ul.list.mb-1 
               li.list__item Подходит для смартфонов и планшетов на ОС Android
               li.list__item Защита от вирусов
               li.list__item Анти-фишинг
               li.list__item Защита личных данных
               li.list__item Защита от шпионажа
               li.list__item Анти-вор для защиты данных
               li.list__item Поиск украденного устройства
               li.list__item Контроль доступа к определённым приложениям
            button(type="button").btn.btn--fluid.mb-1 Подключить
            small.small-paragraph Первые 30 дней - бесплатно, далее абонплата 5 руб / 30 дней    