section.section.section--gray
   .container
      h2.title--h2.title--mb-3.title--text-center Больше функций на страже <br>вашей приватности
      .row 
         .col-md-6.col-lg-4
            .feature.mb-1    
               img.feature__img(src="./assets/images/img1.png", alt="")
               p.feature__info Защита приватности
         .col-md-6.col-lg-4
            .feature.mb-1    
               img.feature__img(src="./assets/images/img2.png", alt="")
               p.feature__info Поиск украденного <br>смартфона, Анти-вор
         .col-md-6.col-lg-4
            .feature.mb-1    
               img.feature__img(src="./assets/images/img3.png", alt="")
               p.feature__info Максимальная защита <br>для 2 любых утройств  
         .col-md-6
            .feature.mb-1.mb-md-0    
               img.feature__img(src="./assets/images/img4.png", alt="")
               p.feature__info Защита платежей в защишённом <br>браузере 
         .col-md-12.col-lg-6
            .feature    
               img.feature__img(src="./assets/images/img5.png", alt="")
               p.feature__info Защита детей и менеджер паролей - <br>бесплатно!            
