section.section.section--intro
    .container
        .intro
            picture
                source(srcset="./assets/images/intro.jpg?as=webp" type="image/webp")
                img(src="./assets/images/intro.jpg" alt="Онлайн-защита от киберугроз").intro__img
            .intro__info
                small.intro__pretitle Для абонентов Белтелеком
                h1.title.title--h1.intro__title Онлайн-защита<br>от киберугроз
                .badge.intro__badge Первые 30 дней бесплатно
                .intro__actions
                    button(type="button" data-bs-toggle="modal" data-bs-target="#phone-modal" data-tariff-plan="safekids").btn.btn-sm--fluid.js-btn-event Защитить смартфон Android
                    button(type="button" data-bs-toggle="modal" data-bs-target="#pc-modal" data-tariff-plan="kas").btn.btn-sm--fluid.btn--light.js-btn-event Защитить ПК
                p.intro__partner-brand При сотрудничистве с
                    img(src="./assets/images/logo/kaspersky.svg" height="22" width="114" alt="Логотип Касперского")