section.section.section--intro
    .container
        .intro
            img(src="./assets/images/intro.png").intro__img
            .intro__info
                small.intro__pretitle Для абонентов Белтелеком
                h1.title.title--h1.intro__title Онлайн-защита<br>от киберугроз
                .badge.intro__badge Первые 30 дней бесплатно
                .intro__actions
                    button(type="button").btn Защитить смартфон Android
                    button(type="button").btn.btn--light Защитить ПК
                p.intro__partner-brand При сотрудничистве с
                    img(src="./assets/images/logo/kaspersky.svg")