section.section.section--gray
   .container
      .row 
         .col-md-12.col-lg-6
            h2.title.title--h2 Как активировать премиум-подписку Kaspersky ?
            p.desc Простое следование инструкции позволит вам надёжно защитить свои устройства и своих близких
            .row
               -
                  let steps = [
                     { step: 'Шаг 1', class: ' mb-2', description: 'Подключите подписку. Первые 30 дней бесплатно.' },
                     { step: 'Шаг 2', class: ' mb-2', description: 'Укажите ваш номер телефона. На него придет SMS с кодом активации и ссылкой на установку приложения.' },
                     { step: 'Шаг 3', class: ' mb-2 mb-md-0', description: 'Установите приложение и активируйте подписку. Kaspersky Internet Security для Android - доступно в Google Play и AppGallery Kaspersky Safe Kids - доступно в App Store, Google Play и AppGallery, для Windows, для MAC Kaspersky Total Security - доступно по ссылке' },
                     { step: 'Шаг 4', class: '', description: 'Управляйте всеми устройствами и подписками через аккаунт MyKaspersky Зарегистрируйтесь на сайте my.kaspersky.com или войдите в аккаунт и укажите полученный код активации' },
                  ];
               each item in steps
                  div(class="col-md-6" + item.class)
                     h3.title.title--h3= item.step
                     p.steps-desc= item.description
         .col-md-12.col-lg-6
            .content-img
               picture
                  source(srcset="./assets/images/steps.png?as=webp" type="image/webp")
                  img.content-img__img(src="./assets/images/steps.png", alt="Как активировать премиум-подписку Kaspersky ?")